go 1.24.3

use (
	./cmd/banyan-agent
	./cmd/banyan-cli
	./cmd/banyan-engine
	./pkg/agent
	./pkg/engine
	./pkg/proxy
	./pkg/rpc
	./pkg/shared/domain
	./pkg/storage
	./pkg/types
	./pkg/vpc
	./pkg/vpc/overlay
	./test
)
