go 1.24.3

use (
	./cmd/agent
	./cmd/banyan-cli
	./cmd/cli
	./cmd/engine
	./cmd/vpc-cli
	./internal/common
	./pkg/agent/container
	./pkg/agent/health
	./pkg/agent/network
	./pkg/agent/security
	./pkg/agent/server
	./pkg/agent/task
	./pkg/engine
	./pkg/interfaces
	./pkg/plugin-sdk
	./pkg/shared/domain
	./pkg/shared/infrastructure
	./pkg/vpc
	./test
)
